{% extends 'base.html' %}

{% block Title %}
Contexter Results
{% endblock %}

{% block content %}


<section id="original-headline">
    <h3 class="mb-3">Article:</h3>
    <div class="float-left mr-2 pb-4 bias-color {{data.bias_code}}">
        <img class="" src="{{data.source_icon}}" alt="" height="80px" width="80px">
    </div>
    <h5 class="px-2 mb-3">{{data.headline}}</h5>
    <p class="snippet">{{data.text_snippet}}</p>
    <div class="clearfix"></div>
</section>

<section id="bias">
    <h5 class="my-3">Bias: <span class="{{data.bias_code}}">{{data.bias_display}}</span></h5>
</section>

<section id="topics">
    <h5 class="my-3">Topics:</h5>
    <div>
        {% for topic in data.topics %}
        <div>
        <span class="badge badge-info text-dark border border-secondary">{{topic.id}}</span>
        {{", ".join(topic.words)}}
        </div>
        {% endfor %}
    </div>

</section>

<section id="recommendations">

    <h3 class="my-3">Recommendations</h3>

    <div class="list">
        <div class="row py-2 px-1 border-top border-bottom bg-light">
            <div class="col-10">Articles</div>
            <div class="col-2">Sources</div>
        </div>
        {% for r in data.recommendations %}
        <div class="row py-2 px-1 border-bottom">
            <div class="col-10">
                <a class="recommended-url" href="{{r.url}}">{{r.title}}</a>
                <p>
                    {{r.partial_content}}
                </p>
            </div>
            <div class="col-2 border-left py-3">
                <div class="bias-color {{r.bias}}" title="r.bias_label">
                    <img src="{{r.icon_url}}" alt="{{r.publication}}"
                        height="50px" width="50px">

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}

<!--Maybe use "card" to display the scraped article on the right-->
<!--Or carousel for images-->
<!--<div class="card" style="width: 18rem;">-->
  <!--<img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  <!--</div>-->
<!--</div>-->