{% extends 'base.html' %}

{% block Title %}
Contexter Results
{% endblock %}

{% block content %}

Some things I might want to show:

<header class="content-top">
    <div class="title">Contexter Results</div>
    <div class="help">What’s going on here? Click here for help</div>
</header>
<main>
    <p>Topics: {{data.topics}}</p>
    <div class="floating-page">
        <article>{{data.article|safe}}</article>
    </div>
</main>
<aside class="details">
    Click to show extra details on the article processing
</aside>

{% endblock %}

<!--Maybe use "card" to display the scraped article on the right-->
<!--Or carousel for images-->
<!--<div class="card" style="width: 18rem;">-->
  <!--<img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  <!--</div>-->
<!--</div>-->